@font-face {
    font-family: "montserrat";
    src: url('../fonts/Montserrat-Medium.otf');
}

html,
body {
    font-family: "montserrat";
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

.simulateHover {
    background-color: #a5a5a500 !important;
}

.input_edit {
    height: 44px;
    width: 246px;
    border: 2px solid black;
    font-family: "montserrat";
}

.containers {
    height: 100%;
    width: 100%;
}

.sortable {
    background-color: #a5a5a500 !important;
    cursor: pointer;
}

.over_selectable {
    background-color: #d7f5cd !important;
    cursor: pointer;
}

.filter_criteria_selectable {
    background-color: #96e674 !important;
}

#table-panel {
    background-color: #000000;
}

#scroll-container,
#left-div,
#right-div {
    height: 97%;
}

#table-panel {
    background-color: #ffffff;
    border-bottom: 1px solid;
    height: 3%;
}

#scroll-container {
    width: 1%;
    overflow: scroll;
    float: right;
    margin: 0 auto;
    padding-top: 17px;
}

#left-div {
    float: left;
    width: 65%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(148, 148, 148, .231);
    background-color: #efefef;
}

#right-div {
    display: inline-block;
    width: 34%;
    overflow-x: scroll;
    overflow-y: hidden;
    border: 1px solid rgba(148, 148, 148, .231);
    background-color: #efefef;
}

#dropdown-button {
    font-family: "montserrat";
    line-height: 0.5 !important;
    font-size: 15px !important;
    height: 100%;
    margin-bottom: 1%;
    border-radius: 0px;
}

.dropdown-menu {
    margin: 0px 0 0 !important;
    top: 3% !important;
}


/**
  Resize

*/

.resize-border {
    /* left: 1px; */
    float: right;
    margin-right: 1px;
    width: 1px;
    border-right: 1px solid;
    border-right-color: #cacaca;
    cursor: e-resize;
    padding-right: 3px;
}

.resize-vertical-bar {
    display: none;
    height: 100%;
    width: 5px;
    background-color: grey;
    position: absolute;
    left: 0px;
    top: 0px;
}