@font-face {
    font-family: "montserrat";
    src: url('../Montserrat-Medium.otf');
}

html,
body {
    font-family: "montserrat";
    height: 100%;
    margin: 0;
    overflow: hidden;
    width: 100%;
}

table tbody span {
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
    font-family: "montserrat";
}

#left-table tr:hover td,
#right-table tr:hover td {
    background: #a5a5a500;
}

#left-table tr:hover td,
#right-table tr:hover td {
    background: #a5a5a500;
}

.simulateHover {
    background-color: #a5a5a500 !important;
}


/* 
td.has-nested-table {
    cursor: pointer;
    padding: 0;
}

td.has-nested-table td {
    border-top: 0;
    border-right: 0;
}

td.has-nested-table td:first-child {
    border-left: 0;
}

td.has-nested-table>table>tbody>tr:last-child>td {
    border-bottom: 0;
}

td.has-nested-table td:only-child {
    border-bottom-width: 1px;
} */

table thead span {
    font-family: "montserrat";
    overflow: hidden;
    text-transform: uppercase;
    line-height: 2.4;
    text-overflow: ellipsis;
    max-width: 250px;
}

#left-table ::-webkit-scrollbar,
#right-table ::-webkit-scrollbar {
    display: none;
}

.containers {
    width: 100%;
}

.containers,
#left-div,
#right-div {
    height: 100%;
}

.sortable {
    background-color: #a5a5a500 !important;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td {
    height: 50px;
    border: 1px solid #efefef;
    border-top: 0;
}

#scroll-container {
    width: 1%;
    overflow: scroll;
    height: 100%;
    float: right;
    margin: 0 auto;
    padding-top: 17px;
}

#scrollbar {
    height: 800px;
}

#left-div {
    height: 100%;
    float: left;
    width: 50%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(148, 148, 148, .231);
    background-color: #efefef;
}

#right-div {
    height: 100%;
    display: inline-block;
    width: 48%;
    overflow-x: auto;
    overflow-y: hidden;
    border: 1px solid rgba(148, 148, 148, .231);
    background-color: #efefef;
}

#left-table {
    height: 100%;
    background-color: transparent;
    display: inline-block;
}

#right-table {
    height: 100%;
    background-color: transparent;
    display: inline-block;
}

#left-table thead,
#left-table tbody,
#right-table thead,
#right-table tbody {
    display: block;
}

#left-table thead,
#right-table thead {
    border-bottom-width: 1px !important;
    background-color: rgba(148, 148, 148, .231);
    text-align: center;
}

#left-table tbody,
#right-table tbody {
    overflow-x: hidden;
    height: calc(100% - 80px);
}

#left-table td,
#right-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 188px;
    background-color: white;
}

#left-table th {
    height: 79px;
}

#left-table th,
#right-table th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 188px;
    background-color: white;
}

#left-table th,
#right-table th {
    background-color: #f3f3f3;
}

#left-table th,
#right-table th {
    border-left: 1px solid rgba(148, 148, 148, .231);
    border-bottom: 1px solid rgba(148, 148, 148, .231);
}

#left-table th:first-child,
#right-table th:first-child {
    border-left: 0;
}


/**
  Resize

*/

.resize-border {
    /* left: 1px; */
    float: right;
    margin-right: 1px;
    width: 1px;
    border-right: 1px solid;
    border-right-color: #cacaca;
    cursor: e-resize;
    padding-right: 3px;
}

.resize-vertical-bar {
    display: none;
    height: 100%;
    width: 5px;
    background-color: grey;
    position: absolute;
    left: 0px;
    top: 0px;
}


/**
    MOZILLA
*/

@-moz-document url-prefix() {
    #left-table th {
        height: 80px !important;
    }
    #right-table th {
        height: 24px !important;
    }
    #left-table tbody,
    #right-table tbody {
        overflow-x: hidden;
        height: calc(100% - 80px);
    }
    #left-table thead span {
        margin-top: 15px;
        margin-left: 36%;
        font-family: "montserrat";
        float: left;
    }
    #right-table thead span {
        font-family: "montserrat";
        float: left;
    }
}


/**
    INTERNET EXPLORER
*/

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
    #left-table th {
        height: 80px !important;
    }
    #right-table th {
        height: 20px !important;
    }
    #left-table tbody,
    #right-table tbody {
        overflow-x: hidden;
        height: calc(100% - 100px);
    }
    #left-table,
    #right-table {
        -ms-overflow-style: none;
    }
}